*{
	margin: 0;
	padding: 0;
}
.nav{
	color: white;
	position: absolute;
	z-index: 1;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-gap: 20px;
	padding-right: 20px;
	justify-content: flex-end;
}
.nav a{
	text-decoration: none;
	color: #ddd;
	width: 40px;
}
.active{
	border-bottom: 3px solid white;
}
.sampul{
	height: 400px;
	width: 100%;
	filter: contrast(50%);
	position: relative;
}
.wrap-sampul{
	height: 200px;
	overflow: hidden;
}
.profil{
	width: 200px;
	height: 200px;
	border: 5px solid #bbb;
	border-radius: 100%;
	position: relative;
	top: -110px;
	left: 40px;
}
.deskrpsi{
	position: relative;
	top: -100px;
	left: 20px;
}
.skil .col-5{
	border: 1px solid;
}
.skil img{

}
@media(max-width: 550px){
	.profil{
		width: 100px;
		height: 100px;
		left: 20px;
	}
	.sampul{
		max-height: 150px;
	}
	.deskrpsi{
		left: 0px;
	}
}