*{
	margin: 0;
	padding: 0;
}
nav{
	border: 1px solid;
	display: flex;
	justify-content: flex-end;
	background-attachment: fixed;
}
nav ul{
	list-style: none;
	display: flex;
	position: absolute;
	z-index: 1;
	margin: 10px;
	grid-gap: 10px;
}
.aktif{
	border-bottom: 2px solid white;
}
nav ul li{
	color: white;
	cursor: pointer;
}
.sampul{
	width: 100%;
	height: 500px;
	background-size: cover;
	background-image: url(img/sampul.jpg);
	opacity: 85%;
	display: grid;
	justify-content: center;
	align-content: center;
	text-align: center;
	color: white;
	border: 1px solid black;
}
.hide{
	display: none;
}
.date{
	display: inline-block;
	position: relative;
	bottom: 80%;
	place-self: center;
}
.waktu{
	margin-bottom: 5px;
	opacity: 75%;
}
.waktu span{
	border: 1px solid;
	border-radius: 10px;
	padding: 5px;
	background-color: white;
	color: hotpink;
	font-size: 30px;
}
.waktu p{
	display: inline-block;
	font-size: 50px;
}
.welcome{
	animation: wel 2.5s 1 ease;
	overflow: hidden;
	border: 1px solid;
	padding: 5px;
	background-color: black;
	opacity: 80%;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	border-radius: 10px;
	width: 300px;
}
.welcome h1{
	font-size: 50px;
	text-shadow: 3px 3px 3px hotpink;
}
.welcome span{
	display: inline-block;
}
.sidebar{
	display: none;
}
@keyFrames wel{
	from{
		width: 0px;
		opacity: 0;
	}
	to{
		width: 300px;
		opacity: 80%;
	}
}
@media(max-width: 600px){
	nav ul{
		display: none;
	}
	nav div{
		display: flex;
		flex-direction: column;
		position: absolute;
		z-index: 2;
		margin: 5px;
	}
	nav div span{
		width: 20px;
		display: inline-block;
		border: 1px solid white;
		margin: 2.5px;
	}
	.sidebar{
		position: absolute;
		transform: translateX(121px);
		display: flex;
		opacity: 0;
		z-index: 1;
		right: 0;
		width: 120px;
		transition: 1s;
		list-style: none;
		height: 50%;
		background-image: linear-gradient(black, pink);
		text-shadow: 1px 1px 1px black;
		opacity: 0;
		flex-direction: column;
		animation: sidebar 1s ease;
	}
	.flex{
		transform: translateX(0px);
		opacity: 80%;
	}
	.sidebar li{
		margin: 20px;
	}
	.sidebar .atas{
		margin-top: 30px;
	}
	.sidebar a{
		text-decoration: none;
		color: hotpink;
	}
	.sidebar .aktip{
		color: white;
	}
}